{% extends 'base.html'%}

{% block conteudo%}

<div class="container">
    <div class="d-flex flex-wrap">
        <h1>Sobre</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem asperiores exercitationem nesciunt, possimus eius soluta dolorum dolores, libero quam, deserunt placeat illum rerum ab velit cupiditate maiores voluptatibus odio magni?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe blanditiis ducimus nihil placeat libero, consequuntur accusantium, nulla vel debitis rem assumenda sequi! Velit numquam aperiam hic debitis corporis mollitia expedita?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ullam ad assumenda mollitia velit minus molestiae nesciunt? Quidem culpa alias vel sed blanditiis nihil, iste consequuntur placeat modi quasi unde.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, fugiat aspernatur! Voluptatum dignissimos exercitationem obcaecati, vel natus commodi officia fugit quis nam, beatae magni tenetur! Delectus minus asperiores tempore dolor.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus consectetur autem saepe deserunt hic earum aut nihil, dicta in voluptate aperiam excepturi nisi reiciendis quod ducimus adipisci at ullam maiores.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolore minus suscipit ab qui aliquam quidem distinctio cumque adipisci officia illum temporibus nemo, aspernatur, consequuntur ipsam ducimus perferendis architecto amet?
        </p>
    </div>
</div>

{% endblock%}